<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/lux/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-smnSwzHqW1zKbeuSMsAM/fMQpkk7HY11LuHiwT8snL/W2QBoZtVCT4H5x1CEcJCs" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="public/assets/style.css">
  <title>Burger Time</title>
  <style>
    body {
      background-image: url(https://images6.alphacoders.com/877/877199.jpg);
      background-size: contain;
    }

    .card,
    .jumbotron{
      background: rgba(255, 255, 255, 0.2) !important;
      border: solid 1px black;
      border-radius: 5px;
      padding: 20px;
    }
  </style>
</head>

<body>
  {{{body}}}
</body>

</html>